{% extends "base.html" %}

{% block content %}
<div class="card bg-dark text-white">
  {% if car.car_img %}
    <img class="card-img" src="{{car.car_img.url}}" alt="Card image cap">
  {% endif %}
  <div class="card-img-overlay">
    <h5 class="card-title">{{car.make}} {{car.model}}</h5>
    <p class="card-text">{{car.year}}</p>
  </div>
</div>
<a href="{% url 'car-update' car.id %}" class="btn btn-dark">Update</a>
<a href="{% url 'car-delete' car.id %}" class="btn btn-danger">Delete</a>
{% endblock content %}