{% extends "base.html" %}

{% block content %}
<div class="row">
    {% for car in cars %}
        <div class="col-sm-4">
            <div class="card">
                {% if car.car_img %}
                    <img class="card-img-top" src="{{car.car_img.url}}" alt="Card image cap">
                {% endif %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Make: {{car.make}}</li>
                    <li class="list-group-item">Model: {{car.model}}</li>
                    <li class="list-group-item">Year: {{car.year}}</li>
                </ul>
                <div class="card-body">
                    <a href="{{car.get_absolute_url}}" class="card-link">View</a>
                </div>
            </div>  
        </div>
    {% endfor %}
</div>
{% endblock content %}